// IE favicon
link(rel="icon",type="image/vnd.microsoft.icon",sizes="16x16 32x32 48x48", href=`${DOMAIN}favicon.ico`)
link(rel="icon",sizes="192x192",href=`${DOMAIN}android-icon.png`)
// Firefox favicon
link(rel="icon", href=`${DOMAIN}favicon.ico`)
link(rel="apple-touch-icon", href=`${DOMAIN}apple-touch-icon.png`)
link(rel="mask-icon",color="#2096d5", href=`${DOMAIN}mask-icon.svg`)
//- css
link(rel="stylesheet", href=`${COMMON_CSS_DIRECTORY}common.min.css`)
link(rel="stylesheet", href=`https://fonts.googleapis.com/icon?family=Material+Icons`)